@use 'partials/variables' as var;

header{
    align-items: center;
    background-color: var.$color-black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 50;

    h1{
        padding: 1rem;

        a{
            color: var.$color-white;
            font-size: 1.4rem;
            font-weight: 400;
            letter-spacing: 3;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }

            &:active{
                text-decoration: underline;
            }
        }
    }

    .menu__icon{
        cursor: pointer;
        padding: 1rem;

        svg{
            &:hover{
                transform: rotate(-4deg) scale(.9);
            }

            &:active{
                transform: rotate(-4deg) scale(.9);
            }
        }
    }

    nav{
        background-color: rgba(0, 0, 0, .7);
        display: flex;
        height: 100dvh;
        right: 0;
        position: fixed;
        top: 0;
        width: 100dvw;
        z-index: 100;

        ul{
            background-color: var.$color-secondary;
            border-bottom: .4rem solid var.$color-white;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            height: fit-content;
            list-style: none;
            max-width: 960px;
            padding: 4rem 0;
            position: fixed;
            right: 0;
            top: 0;
            width: 100dvw;

            li{
                border-bottom: .12rem solid var.$color-black;
                padding: 1rem 4rem;
                width: 100%;
                a{
                    color: var.$color-black;
                    font-size: 1.4rem;
                    text-decoration: none;

                    &:hover{
                        text-decoration: underline;
                    }

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}