@use 'partials/variables' as var;

.presentation__container{
    display: flex;
    flex-direction: column;

    h2{
        align-self: center;
        padding-bottom: 0;
    }

    .roughnotation{
        align-self: center;
        font-size: 1.8rem;
        font-weight: 300;
        height: fit-content;
        padding: .4rem 1rem;
        width: fit-content;
    }

    section{
        border-bottom: .1rem solid var.$color-black;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        padding: 4rem 0 8rem 0;

        h3{
            font-size: 1.8rem;
            font-weight: 600;
            letter-spacing: 1.5;
            width: fit-content;
        }

        figure{
            img{
                max-width: 100%;
                width: 100%;
            }
        }

        p{
            font-size: 1.2rem;
            font-weight: 300;
            letter-spacing: 1;
            line-height: 1.5;
        }

        ul{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            list-style: none;

            li{
                display: flex;
                flex-direction: column;
                font-size: 1.1rem;
                gap: 1rem;
                letter-spacing: 1;
                padding: 1rem 2rem;

                h4{
                    font-size: 1.4rem;
                    font-weight: 400;
                }

                h5{
                    font-size: 1.2rem;
                    font-weight: 400;
                }            

                p{
                    background-color: var.$color-black;
                    border-radius: .4rem;
                    color: var.$color-secondary;
                    font-size: .9rem;
                    font-weight: 400;
                    padding: 1rem;
                }

                figure img{
                    max-width: 100%;
                    padding-top: 1rem;
                    width: 100%;
                }
            }
        }

        .documentation{
            align-self: center;
            background-color: var.$color-secondary;
            border: .14rem solid var.$color-black;
            border-radius: .4rem;
            box-shadow: 4px 4px 0 0 var.$color-black;
            color: var.$color-black;
            font-size: 1.1rem;
            letter-spacing: 1;
            margin-top: 2rem;
            padding: .6rem 1.5rem;
            text-decoration: none;
            transition: .3s;
            width: fit-content;

            &:hover{
                box-shadow: 2px 2px 0 0 var.$color-black;
                filter: brightness(1.05);
                transform: scale(.96);
            }

            &:active{
                box-shadow: inset 2px 2px 0 0 var.$color-black;
                filter: brightness(.96);
                transform: scale(.92);
            }
        }
    }
}